name: Compile and test fast feedback
permissions: 
  actions: write
  contents: read
env:
  GH_TOKEN: ${{ github.token }}
  
on:
  workflow_dispatch:  
  push:
    branches: [ "feature/*" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn clean install -DskipTests

    - name: add markdown report logger for project
      run: mvn test --batch-mode

    - name: Publish Test Report
      uses: scacap/action-surefire-report@v1
      if: always() # Ensures reports are published even if tests fail
      with:
        report_paths: '**/target/surefire-reports/TEST-*.xml'
    
